
line {
    stroke-width:0.5;
    stroke-dasharray:1,2
}

.hour_line {
    stroke:#666666;
}

.min10_line {
    stroke:#4dff4d;
}

.min30_line {
    stroke:#b300b3;
}

.station_line {
    stroke:#b300b3;
}

.station_noserv_line {
    stroke:#bfbfbf;
}

path {
    stroke-width:1.5;
    fill:none
}

.taroko {
    stroke:#FFA500;
}

.puyuma {
    stroke:#ff0000;
}

.tze_chiang {
    stroke:#FFFF00;
}

.tze_chiang_diesel {
    stroke:#008000;
}

.chu_kuang {
    stroke:#2F4F4F;
}

.local {
    stroke:#0000FF;
}

.fu_hsing {
    stroke:#ADD8E6;
}

.ordinary {
    stroke:#000000;
}

.special {
    stroke:#0099ff;
}